{% extends "base.html" %}

{% block sidebar %}
{% endblock %}

{% block header_ext %}
{% endblock %}

{% block content %}
{% load app_filters %}
    <div class="container">
<div class="dividingBorderAbove"></div>
<div class="rowOfBoxes">
   <!--div class="twoThirds noBorderOnLeft"-->
      <h1>Welcome to Ithir</h1>
    <div style="color:#8c8c8c">
    <p><center>In a world steeped in magic, a society of Elves are forced to break their alliances with the races of
        Larandor to regain their immortality. Fleeing The Host, an impossible foe, the Elves have landed upon the shores
        of a new continent, <a href="/topics/">Aarandor</a>. Faced with mystery, intrigue, and the loss of their
        unifying leader the now split Elven Kinships seek to rebuild a new life in this foreign land. The five Elven
        Kinships of <a href="/topics/aeran/">Aeran</a>, <a href="/topics/duindar/">Duindar</a>,
        <a href="/topics/lorandi/">Lorandi</a>, <a href="/topics/thalerith/">Thalerith</a> and
        <a href="/topics/faenor/">Faenor</a> must decide if they will follow their own paths or work together towards a
        united future.
        <br> <br>
        Discovery, mystery, political intrigue and magic await those who are brave enough to step in to the world
        of Ithir and claim their destiny in the Immortal Lands.</center></p></div></div>
    <!-- news app commented out since there are no news in the database originally -->
<div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Players</h1>
       <p><center>There are currently <strong>{{num_players_connected}}</strong> connected</center></p>
       <h2>Recent Activity</h2>
   <div style="color:#8c8c8c">
      <ul>
      {% for player in players_connected_recent %}
      <li>{{player.username}} -- <em>{{player.last_login|timesince}} ago</em></li>
      {% endfor %}
      </ul></div>
      </div>

   <div class="half">
   <h1>Connect to Ithir</h1>
       <br>
       <div style="color:#8c8c8c">
        <center><a class="btn btn-success" href="/webclient">Play Now</a></center>
           <br><br>
           <b><center>To play on your own client, the address is:</center></b>
           <p><center>ithirMUSH.org:4000</center></p></div>
   </div>
   </div>

    <div class="fullWidth noBorderOnLeft dividingBorderAbove">
      <h1>Latest News</h1>
      {% for entry in news_entries %}
         <a href="/news/show/{{entry.id}}" class="newsHeading">{{entry.topic.name}}: {{entry.title}}</a>
         <p class="newsDate">By {{entry.author.username}} on {{entry.date_posted|date:"SHORT_DATE_FORMAT"}} {{entry.date_posted|time}}</p>
         <p class="newsSummary">{{entry.body|truncatewords:20}}</p>
      {% endfor %}

      <div class="more"><a href="/news/archive">More News &raquo;</a></div>



    </div>
    </div>
{% endblock %}
