{% extends "base.html" %}
{% block content %}

<style>
img {
  width: 100%;
  height: auto;
}
</style>

<div class="container">
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Aeran Kinship</h1></figcaption>
	<hr />
	</figure>
	</div>

    	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-7">
          <a href="/static/images/Landscape_Lorawin.jpg">
          <img class="img-fluid" src="/static/images/Landscape_Lorawin.jpg">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">The City of Lorawin</h2>
          <p>The main hub city of the Aeran Kin is built in to a cliffside that overlooks the harbor where the elf
              kinships landed in Aarandor. Quickly they constructed the lighthouse and lit its beacon, vowing to always
              keep it lit and looking to the east. The city that built up around that lighthouse was just as strong and
              stout hearted as its people. Carved in to the rocky cliffs and build on steady land to weather any storm.<br><br>

            A large, bustling harbor was built up out of the landing spot as well. Ships of all sizes dock there between
              journeys. You can often find sailors sleeping in their ships as makeshift homes away from their family
              establishments.</p><br>
            <center><a class="btn btn-success" href="https://docs.google.com/drawings/d/14aR2Q2dlhJ8DGzW-j3sIT8qlbk2qnhkZcWfRuSaDjAU/edit">Aeran Family Trees</a></center>
        </div>
          </div>
        </div>

<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneThird noBorderOnLeft">
      <h2>Government</h2>
        <p>A council of leaders rules this Kinship divided among Civility, War and Spirituality. Leaders groom their
            successors for many years before they pass on the burden of leadership, making the second in command of
            each position often equally as powerful as the leader themselves. Family name has very little to do with
            how one's life progresses here.<br><br>

            <b>Chief</b> - The Chief is the civil leader of the Aeran Kinship. Their job is to see to the prosperity and
            success of the people in Lorawin. In times of peace, the Chief is generally looked to as the point person
            in leadership.<br><br>

            <b>Admiral</b> - The Admiral is the war leader of the Aeran Kinship. In times of war, the Kinship looks to the
            Admiral for leadership and guidance. This role is often looked at as the conqueror. Martial rule is not
            always well received, but it can be very effective.<br><br>

            <b>Wave Speaker</b> - The Wave Speaker is the spiritual leader of the Aeran Kinship. It is their duty to ensure
            that the peoples spiritual needs are being kept, traditions are being honored and rituals are being paid
            their proper respect. Rarely, but it has happened before, the Wave Speaker takes point in Aeran Leadership
            when there are times of spiritual turmoil.</p>
    </div>
    <div class="oneThird">
      <h2>Ideology</h2>
        <p>The Elves of the Sea are the most attuned to the Goddess Aereth’s words and are thusly named The
                Aeran. They take a very spiritual approach to life. Very respectful of the sea and its great gifts
                and trials, they have captivated a culture of travel and adventure, while paying homage to the Gods.
                This choice to live by the sea has also made them in to a hard people. Very hard working, very mindful
                of their impact on the greater whole. Attunement to the needs of the group is a highly valued trait
                among the Aeran Kinship.</p>
    </div>
    <div class="oneThird">
      <h2>Media and Real World Inspiration</h2>
        <p><b>Pirates</b> - For pirates, we are taking inspiration from their exploration and settlement making
            tendencies. The Pirate's Code also plays in to part. Respect for the Captain and the crew, equality in
            sharing the spoils, quarrels are never settled while on board the ship but always handled after the crew
            arrives back on shore.<br><br>
            <b>Pacific Islander</b> - The balance in spirituality and war, paying homage to the Gods
            and respecting the gifts they give you. The Aeran people put a lot of stock in to fairness and respect.
            Elders and people in leadership roles are given a higher level of respect for the burdens they bear for the
            whole kinship.<br><br>
            <b>House Greyjoy</b> - What is dead may never die! The hardening of the people of the Iron Islands is very
            akin to the Aeran. Though they are not revers and rapers, they certainly have the dark, sea-hardened outlook
            many associate with House Greyjoy of the Game of Thrones series.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="rowOfBoxes">
      <div class="oneThird noBorderOnLeft">
      <h2>Laws</h2>
        <p>The Chief, Admiral and Wave Speaker pick their successor from those younger in the kinship then themselves
            when they take on the mantle of leadership. They spend their whole time as leaders grooming their successors,
            which often makes the second in command just as powerful as those leaders they speak for. Family and
            bloodline have no bearing on who is chosen as a successor.<br><br>

            All trials in the Aeran Kin are held in front of the Triad. Judgement is passed for Civil, War and Spiritual
            crimes as a tribunal.<br><br>

            Land is claimed and conquered. Much stock is put in to the idea of exploration and settlement.</p>
    </div>
    <div class="oneThird">
      <h2>Culture</h2>
        <p>Sailing ships is held in very high regard. Not only is it a source of food for this nautical kinship, but
            it is a way of sharing a closeness with Aereth. Theirs were the ships that brought the Elf Kinships across
            the sea rom Lorawin and in to Aarandor.<br><br>

            Paying homage to Aereth is a very ritualistic event among the Aeran people. Before prayer, the Aerean elves
            dip their hands in to a bowl of water. This symbolizes the washing away of bad deeds or thoughts and brings
            one back to the purity of the Gods.<br><br>

            While they are a very spiritual people, they have also been hardened by their rough life at sea. Aeran
            Raiders are feared for the ruthlessness with which they attack. As a whole, they are a stern and unforgiving
            people. But, they always take careful consideration before they act. If the fierceness of their might comes
            crashing down, you can be assure it was for a very good reason. Senseless violence has no place among the
            Aeran Kin.</p>
    </div>

    <div class="oneThird">
      <h2>Flora & Fauna</h2>
        <p><b>Flora:</b> Meadow Grasses, Bog herbs, thistles, buttercups and other heart flora. Groves of trees can be
            found on the islands but are not overly prevalent. Under the waves, great kelp forests flourish.<br><br>

            <b>Fauna:</b> On land one can find otters, shrews, badgers, some deer, goats, rabbits, sheep, lizards,
            turtles, finches, sparrows, osprey, eagles, seahawks. At sea it is common to find a large variety of fish,
            as well as whales, dolphins and sharks.</p>

    </div>
  </div>
</div>

<div class="row text-center">
    <h2>Stereotypical Aeran View of Other Kinships</h2>
    <p><b>Duindar</b> - The elves of Isalsipre are a curious people, keeping their heads in books more than what may be
        good for them. They fancy themselves the lore keepers of our world, and for that, they have our respect.<br><br>

        <b>Lorandi</b> - Their ability to persevere and thrive is admirable. They have lost their closest allies, the
        humans, by choosing to join the rest of us. While they may think themselves higher than the rest of us, they
        often prove their worth in tenacity.<br><br>

        <b>Faenor</b> - Cowards, secretive and closed off from the rest. One never knows what to expect from them. They
        are to be watched and dealt with carefully. Too many closed walls breeds an isolated culture of injustice and a
        disconnection from the Gods.<br><br>

        <b>Thalerith</b> - Savage and imbalanced. But at least they mean what they say and say what they mean. You
        always know what you are getting with a Thalerith. If they cared more for stability and peace from within, they
        might make good allies.</p>
</div>

<div class="row text-center">
    <a href="http://ithirmush.org/topics/org/2/"><h1>Houses of Aeran</h1></a>
</div>
<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="quarter noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/20/"> Alcaldia</a>
        <div class="col-sm">	<a href="/static/images/Alcaldia.png">
        <center><img src="/static/images/Alcaldia.png" height='180' width='203' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/18/"> Marindur</a>
        <div class="col-sm">	<a href="/static/images/Marindur.png">
        <center><img src="/static/images/Marindur.png" height='180' width='203' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/21/"> Nerea</a>
        <div class="col-sm">	<a href="/static/images/Nerea.png">
        <center><img src="/static/images/Nerea.png" height='180' width='203' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/19/"> Reymar</a>
        <div class="col-sm">	<a href="/static/images/Reymar.png">
        <center><img src="/static/images/Reymar.png" height='180' width='203' /></center></a>
        </div>
    </div>
  </div>
</div>
<div class="row text-center">
    <a href="http://ithirmush.org/topics/org/2/"><h1>Aeran Inspiration</h1></a>
</div>
 <div class="oneThird">
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/aeran-lorawin-fashion/"></a>
 </div>

 <div class="oneThird">
    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/aeran-lorawin-food/"></a>
 </div>

 <div class="oneThird">
    <iframe src="https://open.spotify.com/embed/user/k32r7apl0azixu68q2akpdryf/playlist/3CqxBRb2rI27KGmBa93jVj" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
</div>


    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}