{% extends "base.html" %}
{% block content %}
    <style>
img {
  width: 100%;
  height: auto;
}
</style>
<div class="container">
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Duindar Kinship</h1></figcaption>
	<hr />
	</figure>
	</div>

    	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-7">
          <img class="img-fluid" src="/static/images/Landscape_Isalspire.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">The City of Isalspire</h2>
          <p>Part of Isalspire is built high atop a natural waterfall, where the treetops from the banks below and the
              level of the water meet one and the same. Bridges span across the river with hidden water wheels
              incorporated into the architecture to take advantage of the swift running currents and power their
              industry.  The high winds which once buffeted the trees are caught and harnessed in silver-embroidered
              sails that spin and turn elegantly to power lifts that raise goods and peoples from the residential
              districts carved into the massive tree trunks of the riverbanks. The energies of the Lifewell are tapped
              to improve on the efficiency of the water wheels that power the city, while abjuration wards and barriers
              help protect the city against inclement weather and potential predators.<br><br>

              Apartments are carved into the trees, with rounded windows of elegant glass panes keeping out the wind.
              High vaulted ceilings with carved beams, intertwined staircases and hanging chandeliers; all of it fits
              seamlessly into the trees. Buildings are carved to take advantage of the natural light during the day,
              while magical fires are used to illuminate the dwellings at night. The Senate itself was carved into a
              massive oak with the canopies of leaves still hanging high above.  The senate floor has been inlaid with
              different layers of wood, and the benches were dug out through the use of nature magic.  The Speaker’s
              Podium is still a living tree stump, grown and woven to encompass nature.<br><br>

              And then there is the Spire, a library holding the books and scrolls containing the vast knowledge of
              magic and science they accumulated in the old world and were able to bring with them. It is carved into a
              great tree that stands defiant against powerful forces of the river. Several wards protect the library,
              with many modifications made to the tree in order to strengthen it. The knowledge found in
              the Spire is free to any citizen and maintained by the prestige order of librarians known as the Ishtari.
              The Ishtari are sacred curators who devote their life to cataloging and archiving the work of Duindar
              Mages, Engineers and Craftsmen. Every child is required to serve at least five years in the Spire under
              the tutelage of the Ishtari to learn more about the history of the Old World and their past.<br><br>

              By learning about their past, they can dream of a better future.</p><br>
            <center><a class="btn btn-success" href="https://docs.google.com/drawings/d/1E0_vOuB-xyttiQxH6170Z0Yy_pyZies93L9rmI9EIxo/edit">Duindar Family Trees</a></center>
        </div>
          </div>
        </div>

<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneThird noBorderOnLeft">
      <h2>Government</h2>
        <p>During the time of the First Migration, some 10,000 years ago when the elves first split as one nation, the
            followers of Duin’s teachings decided their leadership should be chosen by the people, after making a case
            of how they would serve the people rather than chosen purely by bloodline. In their fashion those
            interested in leading the Duindar held debates and discussions, symposiums, speeches, and listened to the
            will of their people.  In the end, four elves were elected from amongst dozens; every voice was heard and
            counted.  The first four then chose a fifth to act as a tie-breaker, the First Citizen. These five
            individuals were in turn responsible for drafting and implementing the Duindar Constitution. Since then,
            then senate has guided the Duindar with collective intellect and rational debate. The decision to leave
            Larandor was split with the First Citizen making the decisive vote.<br><br>

            Over the generations, the Duindar Constitution experienced a number of amendments to the original one, and
            was actually fully rewritten once after the War of Devotion circa 5000 BA, and very heavily revised after
            the events of Estril's Feast in 350 BA. Throughout all the changes and rewrites, the responsibilities of
            the First Citizen and Senators have varied, but the concept of government by representation has remained a
            constant and a powerful statement on the beliefs of the Duindar people.<br><br>

            <b>First Citizen</b> - The role of the First Citizen has changed some throughout the years, but currently
            they serve as the leader of the Senate, responsible for moderating the agenda during the senate meetings.
            They reman the tie-breaker during a Senate vote, and traditionally hold their vote to be the last one during
            such events. They are considered the highest diplomatic official when representing the Duindar among the
            other Kinships, but they can appoint another Senator to serve as their Second if they are unable to
            participate in a meeting with the other kinships themselves. In the event that the First Citizen is unable
            to make this decision, the Senate can vote to appoint a temporary Second to represent them when dealing
            with the other kinships.<br><br>

            <b>Senators</b> - They represent the people, casting votes during the meetings on items of the agenda to
            help decide the direction of the Duindar people. In order to do this, they often hold town hall meetings
            where they listen to the needs and concerns of the people. They are responsible for writing the laws, and
            providing them to the First Citizen to be brought in the meeting agendas for voting. Traditionally, there
            has been one senator from each House, but, this is not a requirement and there have been many times through
            history when a particular House has not been represented. Due to this, Kinlectors and Kinlessas often try to
            ensure that members of their house run as candidates during elections.<br><br>

            Currently, any Duindar citizen, whether born Duindar or married in, that is older than 65 years of age can
            run for election. An elected official holds their office for 50 years (16.6 RL years). They will remain in
            their seat of power until their term is up, at which point an election will be held to fill their seat. They
            can run again for their seat. This is the same process for both First Citizen and Senatorial seats, and was
            passed as an amendment to how the First Citizen is selected on the original constitution.<br><br>

            There are two ways in which a 50-year term may be cut short. The first is an abdication of seat. Wherein
            the Senator or First Citizen willingly gives up their seat to an open election. The second way is by a vote
            of no-confidence. A vote of no-confidence can be enacted only with a unanimous (except the person in
            question) decision made by the Senate and First Citizen. At which point the seat will be open to a new
            election.  A vote of no confidence is taken very seriously. It should only be enacted in the most dire of
            situations.<br><br>

            The Duindar Military while not involved in government decisions, reports directly to the Senate, and is led
            by the Amethyst Order, which actually predates the founding of the Senate itself. They were first formed
            during the Ogre Wars in 10,850 BA by an elf known as Kazaius, the Amethyst Storm, a friend and contemporary
            to Duin the Artificer. More details surrounding the formation of the order were lost in the War of Devotion
            but it was known that the Storm was a warrior of great renown who developed many tactics still used to this
            day in wielding magic and blades simultaneously.</p>
    </div>
    <div class="oneThird">
      <h2>Ideology</h2>
        <p>The waters wide and blue, the trees majestic and green. The River elves have always embraced their connection
            to the Lifewell, the source of all magic, and its gifts like no other of the Kinships. When arriving to
            Aarandor the sought to use the knowledge accumulated in their tomes filled of history and magical discourse
            they brought from Larandor to rebuild their mystical empire, using the bounty of natural resources available
            to them in this new world.<br><br>

            Aarandor would not be so easily tamed.<br><br>

            Their lack of understanding of this new land led to the disaster that was the First Flood, but rather to
            give into the despair of such a catastrophe, they did as they always do. They learned from it, documented,
            researched and adapted. Their tenacity and ability to reason through most problems is one of the defining
            traits of the Duindar, and it has led to them to integrate their love for knowledge and magic in ways that
            really sets them apart from the other Kinships.<br><br>

            The Duindar feel that their inquisitive nature is one of their strongest assets when facing the challenges
            Aarandor presents. Their desire is to learn how to live in this new land, not only to master it, but simply
            for the love of knowledge. It will take time, but they fully believe the will be able to recreate their
            grand mystical cities, and from the land forge a home land to rival their ancestral home that they were
            forced to abandon back in Larandor, the Marvel of the East, Riaeus.</p>
    </div>
    <div class="oneThird">
      <h2>Media and Real World Inspiration</h2>
        <p><b>Ancient Greece</b> - The Duindar's devotion to knowledge and scholarly pursuits, is certainly inspired by
            ancient Greek culture. The classical Greek culture belief that knowledge and science can bring one closer
            to the gods, is part of the Duindar need to study and understand the world around them. They also served as
            inspiration for the Duindar government.<br><br>

            <b>Maesters of Westeros</b> - The so called Knights of the Mind serve as another inspiration for the Duindar
            as a society that highly values research and knowledge, as well as the ideas that eventually would end up
            becoming the Ishtari. Unlike the Maesters, however, the Duindar have of course embraced magic and formed
            their society around it as well, rather than eschew it.<br><br>

            <b>Elves of Lothlórien</b> - Lothlórien was a great source for visual inspiration of Duindar architecture,
            and the general geography of Isalspire and the surrounding area. They also share the idea of using magic to
            shape their homeland to serve their needs.<br><br>

            <b>The Kirin Tor</b> - The Magus Senate of Dalaran and their magical nation was part of the inspiration
            behind a Kinship that heavily integrates magic into their society. The Galithryn Acadeum is a prime example
            of this influence, as is the Duindar's belief that knowledge and magic should be preserved and protected.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="rowOfBoxes">
      <div class="oneThird noBorderOnLeft">
      <h2>Laws</h2>
        <p>In Duindar society, the laws are written by the Senators and presented to the First Citizen to be discussed
            during a senate meeting agenda. After the First Citizen presents the written law, each Senator gets a chance
            to speak on the law and propose any amendments. The proposed amendments are documented and held until the
            end of the debate round. Once each Senator has spoken, the proposed amendments are voted on first. At this
            point, the First Citizen can also propose amendments and these are voted on as well. Once the amendments
            have been voted on, hen the actual law with the approved amendments is finally voted on. If there is a tie,
            the First Citizen acts as the tie breaker, however, if there is not a tie, only the Senators vote.<br><br>

            At this point, if the First Citizen has major objections to the law, he or she can present them. The First
            Citizen can call for a second vote, but the Senators can vote the same way as they did if so they wish.<br><br>

            The Duindar value history highly and they feel that to destroy property is to destroy history. They feel
            public property belongs to all citizens equally. While petty vandalism often carries minor punishments,
            actual destruction of public property is seen as a high crime. They are sentenced to serve in the sewers
            or other public works to make recompense for their actions.<br><br>

            Destruction of knowledge is a horror to them, so destruction of scrolls, books, of any written word is one
            of the highest crimes that can be committed in Duindar society.<br><br>

            Dispute of claims to the rights of an invention, magical or scientific are very common and often tried by a
            jury of their peers.<br><br>

            Most of the crimes carry sentences of public service, often at the Great Library and under supervision of
            the Ishtari. However, the most serious of crimes lead to exile. While there is no law banning execution,
            it is very rarely pursued as a sentence, with only a few cases recording in history.</p>
    </div>
    <div class="oneThird">
      <h2>Culture</h2>
        <p>The Duindar are ever striving to find new ways to use magic to make their environment work for them. They
            have mastered the manipulation of the Lifewell energies to make their water wheels more efficient, for
            example, greatly increasing the power generated by the ever flowing river. They're always researching,
            always cataloging, always pushing magic and the Lifewell to see how much they can improve on it all.
            Sometimes they push too hard, and magical practices that might be banned in other Kinships are at least
            tolerated within the Duindar. They value the collection of knowledge above all, even if said knowledge is
            best left sealed.<br><br>

            They are constantly delving into their past for inspiration and wisdom.  They research the ideas of their
            ancestors and place high value on transcribing the words of their elders about the virtues of Larandor and
            recreating their cities of high culture.  Duindar are required to spend a few years of their youth working
            at the Great Library, under the tutelage of the Ishtari, and this usually instills them with an appreciation
            of the past and knowledge in general. Learning is a very important part of their lives.<br><br>

            Their love and dedication to magic led the Duindar to establish a formal way to study it. Founded in 3650
            BA by Galithryn Naevon, the Galithryn Acadeum was the first formalized school of magic devoted to teaching
            and improving upon the practice of the Lifewell arts. Originally founded as a Duindar institution, it has
            since then expanded to accept and serve members of all Kinships with the establishment of their campus in
            Thelos.<br><br>

            When they're not busy studying and researching, most Duindar indulge in relaxation time in the public baths.
            While they don't go walking around unclothed for practical reasons, nudity is not a scandalous thing within
            their culture, and they're perfectly comfortable being nude around others. <br><br>

            With both their ancestral home of Riaeus and their current home of Isalspire built within forested areas
            surrounded by rivers, the Duindar people have developed a particular reverence for tree and all plant life.
            This also stems from the Duindar's history with Laenoriel, Gala's sacred tree that Duin the Artificer was
            ordered to turn into weapons. In general the Duindar feel the most comfortable surrounded by plant life,
            and whenever they are using magic to work with it, they treat it with the utmost respect.<br><br>

            The scholarly pursuits that the Duindar usually love is often paired with the practice of public debates
            as a form of defending arguments and theories, but also as a manner of entertainment. Public debates range
            from large organized events, to more spontaneous ones happening while gathered at the local tavern. In
            general, the Duindar feel that putting their ideas to the test like this allows them to rethink them and
            make them stronger.</p>
    </div>

    <div class="oneThird">
      <h2>Flora & Fauna</h2>
        <p>The river boasts a healthy ecosystem with waterfowl and fish providing the main staple of foods.  When the
            river floodwaters recede farmers move into the now fertile farmland and grow linens for cloth and
            vegetables.  Reeds are beaten into papyrus though paper is made from wood pulp from their thriving logging
            industry. Hanging gardens are popular through the city with hydroponic watering systems, assisted by clever
            tapping into the Lifewell.<br><br>

            <b>Flora</b> - Typical flora around the river consists of cattails, bulrushes, floating algae, mosses and a
            number of submerged plants. Taller plants like the river birch, quaking aspen and the nuttall oak can be
            easily found. The rivers are surrounded by large forests made of many varied trees.<br><br>

            <b>Fauna</b> - Some naturally occuring predators dwell in the deltas and along the riverbanks, which
            occasionally will drag off grazing livestock or a small child. Alligators and crocodiles are common
            predators in some areas, but other typical animals species in a variety of types include frogs, turtles,
            snails, marsh birds, beavers, otters, deer, raccoons, foxes, coyotes, bobcats and snakes.</p>
    </div>
  </div>
</div>

<div class="row text-center">
    <h2>Stereotypical Duindar View of Other Kinships</h2>
    <p><b>Aeran</b> - Like us, they sought the unforgiving waters of this land to build their home and long for our
        left-behind past.  However, they lack focus and are often lured by the superstitions associated with the stories
        created by those that spend too much time in the open seas.<br><br>

        <b>Lorandi</b> - They live only for the moment, without planning for the long term. But they provide us with
        much needed supplies which we cannot ourselves grow, and they long for our civilization.<br><br>

        <b>Faenor</b> - They are too stubborn to change and adapt, instead retreating to their own world and living in
        the past, without seeking to learn from it and understand it.  They don’t seem to want to change and grow
        at all. <br><br>

        <b>Thalerith</b> - They have adapted to the harshest of climates, for which we commend them. But in doing so
        they have lost the civilization we cling to, and seem to be in no hurry to regain it, a pity, really.</p>
</div>

        <div class="row text-center">
            <a href="http://ithirmush.org/topics/org/5/"><h1>Houses of Duindar</h1></a>
</div>
<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="quarter noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/22/"> Egilion</a>
        <div class="col-sm">	<a href="/static/images/Egilion.png">
        <center><img src="/static/images/Egilion.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/25/"> Geminiel</a>
        <div class="col-sm">	<a href="/static/images/Geminiel.png">
        <center><img src="/static/images/Geminiel.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/23/"> Laenorin</a>
        <div class="col-sm">	<a href="/static/images/Laenorin.png">
        <center><img src="/static/images/Laenorin.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/24/"> Naevon</a>
        <div class="col-sm">	<a href="/static/images/Naevon.png">
        <center><img src="/static/images/Naevon.png" height='236' width='127' /></center></a>
        </div>
    </div>
  </div>
</div>
</div>
    <div class="row text-center">
    <a href="http://ithirmush.org/topics/org/2/"><h1>Duindar Inspiration</h1></a>
</div>
 <div class="oneThird">
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/duindar-isalspire-fashion/"></a>
 </div>

 <div class="oneThird">
    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/duindar-isalspire-food/"></a>
 </div>

 <div class="oneThird">
     <iframe src="https://open.spotify.com/embed/user/k32r7apl0azixu68q2akpdryf/playlist/6aaRiZhcBXXJB0zvh5yces" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
{% endblock %}