{% extends "base.html" %}
{% block content %}
    <style>
img {
  width: 100%;
  height: auto;
}
</style>
    <div class="container">

	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Faenor Kinship</h1></figcaption>
	<hr />
	</figure>
	</div>

    	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

         <div class="col-md-7">
          <img class="img-fluid" src="/static/images/Landscape_Khelgar.jpg" alt="">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">The City of Khelgar</h2>
          <p>The elegance of their elven heritage is found in the majestic architecture of the snowy caves and ice
              structures they call their home. Rather than build more traditional dwellings to suit them, they have
              seamlessly shaped and become part of the harsh environment that surrounds them. They have embraced it,
              and wrapped themselves in the flowing white of their matron goddess in their attempt to make Aarandor,
              their home.<br><br>

              The center of the city is found inside a large cavern, close to the peak of the highest mountain in the
              new world. Buildings are part of the cavern rock, or have been shaped out of the ice that was part of the
              cave system the Faenor have come to call their home.<br><br>

              Trying to reach the city through normal means is next to impossible, exactly how the Faenor want it to be.
</p><br>
            <center><a class="btn btn-success" href="https://docs.google.com/drawings/d/1V_G3QgE2GnpfgiOUs0sINlBM30PJcFHhIV1rUB4mAuw/edit">Faenor Family Trees</a></center>
        </div>
          </div>
        </div>

<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneThird noBorderOnLeft">
      <h2>Government</h2>
        <p>A body known as the Council of Five serves as the government of the Faenor. It consists of the five High
            Lords of each House, with each member having equal power within the Council. Most decisions are made
            through a majority vote, usually after an extended period of negotiations and debate. The lack of interest
            in outside politics the Faenor are known for, is at a very high contrast with the marked interest in
            politics when it comes to ruling their people.<br><br>

            The title of High Lord is a hereditary one, passed to the firstborn of the High Lord's children, who
            becomes the Lord or Lady Heir, with gender playing no role, only the order of the birth. The Lord/Lady
            Heir often speaks for the High Lord if the High Lord is unavailable, and is able to represent the High
            Lord during Council meetings. If the High Lord has no children of her own, then the next sibling is
            considered the Lord/Lady Heir. In the case that neither High Lord or Lord Heir are able to attend a Council
            meeting or event, they're able to designate a member of the house to represent them for that particular
            meeting or event.<br><br>

            While it's true that each Council member has equal power, it's common during times of crisis for the
            Council to appoint a High Seat, with the High Lord voted in often being the one considered to have the
            most experience with the kind of crisis being faced. The High Seat does not have any particular powers over
            the other members of the High Council, but is responsible for organizing and moderating the agendas of the
            Council meetings. During votes, the High Seat usually offers their vote last, to serve as the breaking vote
            for potential ties.<br><br>

            The Faenor Unified Military is responsible for safeguarding the Faenor and are under the command of their
            General, who is chosen by the Council. The General does not have any governmental power and is purely
            responsible for the managing of the Faenor armed forces. An elite group of knights serves under Faenor
            Military known as the Knights of the Argent Moon. Colloquially referred to as the Argent Knights, they were
            founded by Ralus Morinen with a mandate to hunt down and root out evil in any shape it appears. They are
            led by their Grandmaster, who in turn answers to the General during times of war.
.</p>
    </div>
    <div class="oneThird">
      <h2>Ideology</h2>
        <p>Said to be favored by the goddess of Wind and Purity, Garwen, the Faenor have claimed the white mountaintops
            of the Volandis range as their home. They live in the coldest of places, with hearts that can be as icy as
            the lands they inhabit. Stoic and quiet, the other elves mistakenly think them to be passive. They are far
            from such.<br><br>

            When they strike, they do so with precision, leaving no one to tell the tale. When they speak, they say
            only what’s necessary. Their body language is as much part of the way they communicate as it is their
            speech. The way they look at someone, how they stand in their presence says a lot more than mere words
            would be able to convey.<br><br>

            Their distrust of outsiders stems from their belief that they've been chosen to safeguard the purity of the
            Elven heart. Garwen is the goddess of everything that is good and pure, and they see themselves as her
            children and heirs. Their choice to live in a land that most would consider inhospitable is not out of a
            desire to endure hardships, but simply to make it harder for others to reach them. In fact, they often go
            to great lengths to reshape their environment to suits their needs and comforts.
</p>
    </div>
    <div class="oneThird">
      <h2>Media and Real World Inspiration</h2>
        <p><b>House Arryn and the Vale</b> - Geographically, the Vale is known for being hard to access, a trait that
            is shared with the locations that the Faenor tend to claim as their home. House Arryn decision to not get
            involved in War of the Five Kings echoes the Faenor's desire to be left mostly alone by the other kinships,
            albeit for different reasons.<br><br>

            <b>The Malfoy Family</b> - Some of the physical traits found in the Malfoy Family served as visual
            inspirations for the physical traits of the Faenor. Their general elegance was certainly an influence in
            some of the aspects of Faenor culture, as was their dedication to purity. While the Malfoy family and
            Faenor embrace very different concepts of purity, the Malfoy family worries about blood purity, while the
            Faenor are concerned with the purity of the Elven heart, they're both staunch protectors of their
            respective ideals.<br><br>

            <b>Scottish Highlands</b> - From the Scottish Highlands we mostly borrow the concept of clans, adapting it
            to fit our vision for the Faenor kinship. The idea of the clan, or in our case the House being the major
            social unit drives some aspects of the Faenor theme and its government.<br><br>

            <b>Norse Culture</b> - The most apparent concept borrowed from Norse culture is the important of heroic
            deeds and the sagas. Some of the ideas found in Faenor Law were also inspired by Norse Culture. The
            indomitable spirit often associated with the Vikings mirrors the one shown by the Faenor in embracing
            some of the most inhospitable areas of both Larandor and Aarandor.
</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="rowOfBoxes">
      <div class="oneThird noBorderOnLeft">
      <h2>Laws</h2>
        <p>The Council of Five is responsible for creating the laws and their adjudication. Outsiders caught in Faenor
            lands breaking the law are often judged more harshly than the natives. Faenor caught conspiring with
            outsiders to break the law are judged even more harshly. Trials require at least three Houses to be
            represented by either a High Lord, Lord or Lady Heir, or someone designated by the High Lord to represent
            the house, this is known as the Judgment Council.  A prosecution officer is assigned by the Judgment
            Council and is responsible for presenting the case against the accused. The accused is allowed to offense a
            defense, before the Judgment Council votes to find the accused guilty or innocent.<br><br>

            Lesser crimes often require service to the community, while serious crimes lead to exile. Those committing
            crimes serious enough to be executed, experience a harsher form of exile. They are blindfolded, given a
            simple robe as clothing, and taken out in the freezing wilderness and left there, with no resources,
            to fend on their own. They're branded as outlaws and are to be killed on sight by any Faenor.
</p>
    </div>
    <div class="oneThird">
      <h2>Culture</h2>
        <p>Generally, the Faenor prefer to be left alone. However, individuals are known to venture out of Khelgar
            often, and some have even married into other kinships, integrating with their cultures.  In Larandor,
            they often avoided being involved in the politics of the other Kinships. The Eradication War changed their
            outlook some, however, and after the Third Migration, they've slowly come to accept that they must work
            with the other kinships if they expect to survive in the new continent of Aarandor.<br><br>

            Living in the icy mountain ranges of both Larandor and Aarandor has taught the Faenor patience, and this
            is an important a virtue to them as purity. Recklessness can easily lead to death in the snowy wilderness
            that they call of their home. This often leads other kinships to see them as lazy, lethargic or even
            apathetic, but from the Faenor's perspective the truth is far more nuanced. The Faenor feel the other
            Kinships rush into decisions without thought, that the others lack the long term vision necessary to master
            Aarandor.<br><br>

            Hunting is an important part of their lives, and Faenor usually do this alongside their Snow Wolves. These
            long lived wolves are more than just a pet, they are companions that young Faenor bond with, usually for
            life. Bonded wolves are considered part of the family, and mourned as such when they pass. They grow up to
            be large enough to ride, and can live up to around twenty years.<br><br>

            Heroic deeds are a very important to the Faenor and usually are recorded by loremasters referred to as
            Old Wolves in the form of sagas. Each House usually has at least one Old Wolf that is responsible for the
            sagas of that House. Sagas might not be completely historically accurate, and sometimes carry embellishments
            added by the loremasters. New sagas are often shared at the end of hunts or festivals, bringing Faenor
            together and often serving as a reminder of their place in the world. <br><br>

            The Faenor are also known for admiring beauty and elegance. While they are very pragmatic people, artistic
            pursuits are seen favorably, in particular if they honor the gods. Artwork and poetry honoring Garwen is
            highly valued, and this artistic bent has influenced the elegance often seen in the way they carry
            themselves.
</p>
    </div>

    <div class="oneThird">
      <h2>Flora & Fauna</h2>
        <p><b>Flora:</b> The flora is is typical of cold weather regions. Higher up in the mountains, where is the most
            cold, one could find flowering plants, dwarf shrubs, grasses, mosses and lichens. Down the mountains,
            swatches of forests made of trees able to handle the cold are typical, like maples, red oaks, pine trees,
            evergreens and birch trees.<br><br>

            <b>Fauna:</b> Wolves and bears are quite common, usually sporting light furs. The Snow Wolves that the
            Faenor bond with are a very particular breed of wolf, and larger in size than the regular breeds. Hares,
            foxes, ox, and caribou are also quite prevalent.
</p>
    </div>
  </div>
</div>

    <div class="row text-center">
        <a href="http://ithirmush.org/topics/org/3/"><h1>Houses of Faenor</h1></a>
</div>
<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneFifth noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/26/"> Aenorr</a>
        <div class="col-sm">	<a href="/static/images/Aenorr.png">
        <center><img src="/static/images/Aenorr.png" height='280' width='140' /></center></a>
        </div>
    </div>
    <div class="oneFifth">
        <a href="http://ithirmush.org/topics/org/27/"> Morinen</a>
        <div class="col-sm">	<a href="/static/images/Morinen.png">
        <center><img src="/static/images/Morinen.png" height='280' width='140' /></center></a>
        </div>
    </div>
    <div class="oneFifth">
        <a href="http://ithirmush.org/topics/org/28/"> Keir</a>
        <div class="col-sm">	<a href="/static/images/Keir.png">
        <center><img src="/static/images/Keir.png" height='280' width='140' /></center></a>
        </div>
    </div>
    <div class="oneFifth">
        <a href="http://ithirmush.org/topics/org/29/"> Ingith</a>
        <div class="col-sm">	<a href="/static/images/Ingith.png">
        <center><img src="/static/images/Ingith.png" height='280' width='140' /></center></a>
        </div>
    </div>
    <div class="oneFifth">
        <a href="http://ithirmush.org/topics/org/30/"> Reid</a>
        <div class="col-sm">	<a href="/static/images/Reid.png">
        <center><img src="/static/images/Reid.png" height='280' width='140' /></center></a>
        </div>
    </div>
  </div>
</div>
<div class="row text-center">
    <a href="http://ithirmush.org/topics/org/2/"><h1>Faenor Inspiration</h1></a>
</div>
 <div class="oneThird">
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/faenor-khelgar-fashion/"></a>
 </div>

 <div class="oneThird">
    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/faenor-khelgar-food/"></a>
 </div>

 <div class="oneThird">
    <iframe src="https://open.spotify.com/embed/user/k32r7apl0azixu68q2akpdryf/playlist/2fdTdO32PeqL81aJoXIs5O" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
</div>


    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

{% endblock %}