{% extends "base.html" %}
{% block content %}

	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Gods</h1></figcaption>
	<hr />
	</figure>
	</div>


    <div class="rowOfBoxes">
   <div class="half noBorderOnLeft">
      <h1>Acharon</h1>
       <p><br>Symbol - A pale blue barbed star on a black background.
           <br>The God of raw emotion and potential. He is the oldest of the Gods, embodying the pure,
           raw energy of divinity. Through unbinding ourselves from restrictions and rules, evolution and
           improvement can be discovered.

           <br>The Priesthood of Acharon are a strange bunch. They embrace passion in all its forms.
           Taking whims and making decisions on the fly are encouraged. As such, they have no formal meeting
           place among the City of Shrines. Instead, they pick whatever place feels best at the moment and meet
           and discuss there. Often theirs is a gathering of philosophy and debate, finding ways in which the
           Kinships can innovate and change, evolve into something more. There is much to be gained in taking
           risks.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Acheron.jpg">
	    <img src="/static/images/Gods_Acheron.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
  </div>



    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">
       <h1>Aereth</h1>
       <p><br>Symbol - A curling white wave on an teal background.
           <br>The goddess of the sea. They say her cape is a flowing wave behind her and she lives in the water.
           Though her moods ebb and flow with the tides, she is known for listening to elf kind more than any
           other Gods. She is worshiped by adventurers and sailors alike.

           <br>The Priesthood of Aereth are a ritualistic people, taking care to show their patron the utmost
           respect. When they meet to pray, a bowl of fresh water is set aside to wash the hands and feet.
           Often the congregation meetings are held while wading in water.</br></p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Aereth.jpg">
	    <img src="/static/images/Gods_Aereth.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>
  </div>


    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Baridon</h1>
       <p><br>Symbol - A golden scale on a red background.
           <br>The God of Blood. Oaths means everything, fealty is not to be broken. When you have chosen your
           side, you stick to it. He is the God of Domain, with a steeled and structured aesthetic. He is also
           the guardian of Choice. For without free will, we are but slaves. That doesn’t, however, mean that
           choices are made without consequences. Baridon has taken on the role of Doomsayer of the Gods, often
           making their will and warnings known.

           <br>The Priesthood of Baridon are a rather serious and law-abiding sect of the faith. It is their duty
           to maintain the laws of Thelos and ensure that oaths are kept. Marriage vows are said before Baridon,
           weighing the serious of that oath before the gods. They are the keepers of alliances and punisher of
           offenses.</br></p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Baridon.jpg">
	    <img src="/static/images/Gods_Baridon.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Brundir</h1>
       <p><br>Symbol - A swirling yellow nebula on a blue background.
           <br>The God of the heavens, of death and rebirth. He is the balance that guides all life, mortal
           and immortal alike. He sets the sun and moon in motion, and the light of his stars shines for every
           soul passed through his hands. For the souls he guards are finite, and not to be taken for granted.

           <br>The Priesthood of Brundir are the guardians of the wheel, the cycle by which all life passes through.
           Brundir, through his Priests, passes life in to the hands of worthy elves. He works closely to shepherd those
           souls no longer meant for this world back in to the wheel and as such, keeps a close connection to the
           Priesthood of Glanor.

<br>Surrogacy. The Priests and Priestesses of Brundir have the sacred duty of being surrogates
           for couples that can not physically produce a child on their own. Through a ritual
           involving the couple hoping to care for a new soul, the priests and priestesses take on the role of
       Birth Mother or Birth Father. But the child will ultimately go to the couple.

<br>Note: Birth Mother and Farther is a position held by NPC members of the clergy.</br></p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Brundir.jpg">
	    <img src="/static/images/Gods_Brundir.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>
    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Estril</h1>
       <p><br>Symbol - A bound teal soul on a gray background.
           <br>The Goddess of Justice. Hers is the unfortunate duty of culling souls from the cycle. Some evils
           of the world are not meant to live on. She acts as the Justice of the heavens and administers the
           punishments to those who have strayed.

           <br>The Priesthood of Estril know the importance of her role, and the terror she entices in those
           who hear her stories. Rather than embracing the dark tendencies of such a foreboding warning, they prefer
           to take on worship of Estril as a light Goddess, who keeps them safe from evil. She is thanked for taking
           on the least appealing but incredibly important role in the Pantheon. For without her, who knows what sort
           of evils would walk Ithir.
       <br>Priests of Estril also share in her burden, acting as executioners for those souls no longer meant for this
           world. It is their sacred duty to carry out the killing blow that will then allow her to take up and reap
           the souls of the sinful.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Estril.jpg">
	    <img src="/static/images/Gods_Estril.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Gala</h1>
       <p><br>Symbol - A single light green flower on a dark green background.
           <br>The goddess of restoration and growth. She is the great forgiver and protector of broken and misshapen
           and lover of all things. She embraces enjoying life to the fullest.
           <br>The Priesthood of Gala is made up of those with a focus on healing. Through the Goddess of Restoration,
           all can be forgiven. Wounds can be closed, damaged things can be rebuilt. She lends hope in dark times to
           all those who worship her. Those who claim to have seen her, see her face in the trees and hear her
           footsteps in the gardens.</br>
           </p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Gala.jpg">
	    <img src="/static/images/Gods_Gala.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

        <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Garwen</h1>
       <p><br>Symbol - A curling gust of white wind on a light blue background.
           <br>A goddess in flowing white robes whose hair is pure white. She is fiercely protective of all that is
           good in this world, knowing no evil at all. She shuns any who step away from the light and make
           questionable judgements. There can be no compromise when evil is at hand.

           <br>The Priesthood of Garwen worship her on mountain tops and in pure white snow. She is the air around
           us and the wind that moves us. Pure and true. They are quick to point out questionable actions among the
           Kinships and thus are looked at as the moral compass of all elf kind. Their time is spent helping those in
           need make decisions that will favor the gods rather than upset them.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Garwen.jpg">
	    <img src="/static/images/Gods_Garwen.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Glanor</h1>
       <p><br>Symbol - A dead tree in black on a white background.
           <br>The sleeping God. It is said that he keeps to himself, reclusive and slow to be involved. Those who
           mourn seek him out for peace, often finding it in crossing in to a new life.

           <br>The Priesthood of Glanor are a very somber, reflective group. Their worship comes in helping those who
           grieve through the process, showing mercy and understanding in the face of overwhelming sadness. They are
           also the guides in to the wheel. When an elf has lived their life and grows weary of the living, the priests
           of Glanor help them back to the wheel. This process is called the Ritual of Returning, where in, the elf
           gives away their worldly possessions and bids their loves ones farewell. The Priest of Glanor then offers
           them a drink from the Cup of Returning that will put them in to their final sleep.
           </p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Glanor.jpg">
	    <img src="/static/images/Gods_Glanor.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Loran</h1>
       <p><br>Symbol - Open hands holding a golden spark on a white background.
           <br>The Goddess of Time. She preaches that time is precious and must not be wasted on inaction.
           Every moment spent in idle is an affront to her gift of time, even for the immortal. It is said
           that she dreamed life in to Ithir and it is by her dream that elfkind lives now.

           <br>TThe Priesthood of Loran are the dreamers of the religious group. They push for innovation.
           For action, for settling grievances or going to war. Their hands are never idle, always looking to
           improve, to learn a new skill, to build something new.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Loran.jpg">
	    <img src="/static/images/Gods_Loran.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Rithor</h1>
       <p><br>Symbol - A pair of crossed swords in gray on a red background.
           <br>The Deity of Fearlessness. There is no challenge too difficult, no feat too great. They teach that
           even in the face of fear we must press on. Theirs is the aesthetic of a warrior, and those who fight
           and hunt bring with them the fearlessness of their Deity.

           <br>The Priesthood of Rithor are those who prepare for war. They embrace the martial skills of a
           military, ready to defend at all costs. Through their Deity, they have found the strength to face many
           a hopeless battle and come out victorious on the other side. Rituals of the Priesthood involve sparring
           and training, hunting and foraging. The Rites of Rithor, when an initiate to the priesthood becomes a
           full fledged priest, involves a ritual scarring, marking them as the Fearless, for any to witness.
           </p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Rithor.jpg">
	    <img src="/static/images/Gods_Rithor.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

        <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Torth</h1>
       <p><br>Symbol - A white mountain peak on a dark brown background.
           <br>The god of prosperity said to have golden wheat hair and robes made from spun gold. He preaches
           abundance and wealth, working hard and holding on to your hard earned riches. He is the patron of
           crafters and builders.

           <br>The Priesthood of Torth are very strong protectors and builders. They are the walls of the pantheon,
           building strong foundations and fortifying property of the elves. It is said that through the blessings
           of Torth, ordinary items can become enchanted in to something more. The Great Creator provides when he
           is well worshiped.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Torth.jpg">
	    <img src="/static/images/Gods_Torth.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>


	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}


{% endblock %}