{% extends "base.html" %}
{% block content %}
<div class="container">
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Gods</h1></figcaption>
	<hr />
	</figure>
	</div>

    <div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
        {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
        <li>No categories found.</li>
    {% endfor %}



    <div class="rowOfBoxes">
   <div class="half noBorderOnLeft">
      <h1>Acharon</h1>
       <p> <br>The God of raw emotion and potential. He is the oldest of the Gods, embodying the pure,
           raw energy of divinity. Through unbinding ourselves from restrictions and rules, evolution and
           improvement can be discovered.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Acheron.jpg">
	    <img src="/static/images/Gods_Acheron.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
  </div>



    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">
       <h1>Aereth</h1>
       <p><br>The goddess of the sea. They say her cape is a flowing wave behind her and she lives in the water.
           Though her moods ebb and flow with the tides, she is known for listening to elf kind more than any
           other Gods. She is worshiped by adventurers and sailors alike.</p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Aereth.jpg">
	    <img src="/static/images/Gods_Aereth.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>
  </div>


    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Baridon</h1>
       <p><br>The God of Blood. Oaths means everything, fealty is not to be broken. When you have chosen your
           side, you stick to it. He is the God of Domain, with a steeled and structured aesthetic. He is also
           the guardian of Choice. For without free will, we are but slaves. That doesn’t, however, mean that
           choices are made without consequences. Baridon has taken on the role of Doomsayer of the Gods, often
           making their will and warnings known.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Baridon.jpg">
	    <img src="/static/images/Gods_Baridon.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Brundir</h1>
       <p><br>The God of the heavens, of death and rebirth. He is the balance that guides all life, mortal
           and immortal alike. He sets the sun and moon in motion, and the light of his stars shines for every
           soul passed through his hands. For the souls he guards are finite, and not to be taken for granted.</p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Brundir.jpg">
	    <img src="/static/images/Gods_Brundir.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>
    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Estril</h1>
       <p><br>The Goddess of Justice. Hers is the unfortunate duty of culling souls from the cycle. Some evils
           of the world are not meant to live on. She acts as the Justice of the heavens and administers the
           punishments to those who have strayed.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Estril.jpg">
	    <img src="/static/images/Gods_Estril.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Gala</h1>
       <p><br>The goddess of restoration and growth. She is the great forgiver and protector of broken and misshapen
           and lover of all things. She embraces enjoying life to the fullest.</p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Gala.jpg">
	    <img src="/static/images/Gods_Gala.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

        <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Garwen</h1>
       <p><br>A goddess in flowing white robes whose hair is pure white. She is fiercely protective of all that is
           good in this world, knowing no evil at all. She shuns any who step away from the light and make
           questionable judgements. There can be no compromise when evil is at hand.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Garwen.jpg">
	    <img src="/static/images/Gods_Garwen.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Glanor</h1>
       <p><br>The sleeping God. It is said that he keeps to himself, reclusive and slow to be involved. Those who
           mourn seek him out for peace, often finding it in crossing in to a new life.</p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Glanor.jpg">
	    <img src="/static/images/Gods_Glanor.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

    <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Loran</h1>
       <p><br>The Goddess of Time. She preaches that time is precious and must not be wasted on inaction.
           Every moment spent in idle is an affront to her gift of time, even for the immortal. It is said
           that she dreamed life in to Ithir and it is by her dream that elfkind lives now.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Loran.jpg">
	    <img src="/static/images/Gods_Loran.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>

    <div class="rowOfBoxes dividingBorderAbove">
       <div class="half noBorderOnLeft">

       <h1>Rithor</h1>
       <p><br>The Deity of Fearlessness. There is no challenge too difficult, no feat too great. They teach that
           even in the face of fear we must press on. Theirs is the aesthetic of a warrior, and those who fight
           and hunt bring with them the fearlessness of their Deity.</p>
   </div>
   <div class="half noBorderOnLeft">
           <center>
	    <a href="/static/images/Gods_Rithor.jpg">
	    <img src="/static/images/Gods_Rithor.jpg" height='382' width='300' />
	    </a>
    </center>

      </div>

</div>

        <div class="rowOfBoxes dividingBorderAbove">
   <div class="half noBorderOnLeft">
      <h1>Torth</h1>
       <p><br>The god of prosperity said to have golden wheat hair and robes made from spun gold. He preaches
           abundance and wealth, working hard and holding on to your hard earned riches. He is the patron of
           crafters and builders.</p>
      </div>
   <div class="half noBorderOnLeft">
    <center>
	    <a href="/static/images/Gods_Torth.jpg">
	    <img src="/static/images/Gods_Torth.jpg" height='382' width='300' />
	    </a>
    </center>
   </div>
</div>
    </div>



{% endblock %}