{% extends "base.html" %}
{% block content %}
	<div class="container">
	
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>Map of the Immortal Lands</h1></figcaption>
	<a href="/static/images/AarandorMapSept2018.jpg">
	<img src="/static/images/AarandorMapSept2018.jpg" height='618' width='846' />
	</a>
	<hr />
	</figure>
	</div>
	
	<!---<div class="row">
	<div class="col-sm-6">
	<figure class="text-center">
	<figcaption><h1>Map of Central Arx</h1></figcaption>
	<a href="/static/images/ailith_map_inner.jpg">
	<img src="/static/images/ailith_map_inner.jpg" height='200' width='200' />
	</a>
	</figure>
	</div>
	<div class="col-sm-6">
	<figure class="text-center">
	<figcaption><h1>Map of Outer Districts</h1></figcaption>
	<a href="/static/images/ailith_map_outer.jpg">
	<img src="/static/images/ailith_map_outer.jpg" height='200' width='200' />
	</a>
	</figure>
	</div>	
	</div>
	<hr /> --->
	
	<div class="row text-center">
		<h1 class="bg-primary">Lore Topics</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
      <h2 class="text-center bg-danger">{{ category }}</h2>
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}         
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->

	
	<div class="row">
        <h1 class="text-center">Organizations</h1>
	<ul class="list-inline text-center">
    {% for org in all_orgs %}
                
        <li><a href="..{% url 'help_topics:display_org' org.id %}">{{ org.name }}</a></li>
        
      {% empty %}
        <li>No organizations found.</li>
     
    {% endfor %}
	</ul>
	</div>
	
	{% if secret_orgs %}
	
	<h2 class="text-center">Secret Organizations</h2>
	<ul class="list-inline text-center">
	{% for org in secret_orgs %}
		<li><a href="..{% url 'help_topics:display_org' org.id %}">{{ org.name }}</a></li>
	{% endfor %}	
	</ul>
	</div>
	{% endif %}
	<h1 class="text-center">Cheat Sheets/Resources</h2>
	<div class="row">
	<a href="recipes"><h2 class="text-center">Recipes and Materials</h2></a>
	<a href="{% url 'help_topics:list_commands' %}"><h2 class="text-center">Commands</h2></a>
	</div>	

{% endblock %}