{% extends "base.html" %}
{% block content %}
	<div class="container">
	

	
	<div class="row text-center dividingBorderAbove">
		<br><h1 class="bg-primary">Lore Topics</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
      <h2 class="text-center bg-danger">{{ category }}</h2>
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}         
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
<style>
img {
  width: 75%;
  height: auto;
}
</style>
    <div class="row dividingBorderAbove">
	<figure class="text-center">
	<br><figcaption><h1>Map of the Immortal Lands</h1></figcaption>
	<a href="/static/images/AarandorMapSept2018.jpg">
	<img src="/static/images/AarandorMapSept2018.jpg" height='618' width='846' />
	</a>
        <p>The map of Aarandor represents the known territories of Aarandor, the Immortal Lands.
            The portions of the map still covered up are yet to be discovered locations in Aarandor.
            Lorawin is the home of the Aeran Kinship. Isalspire is the home of the Duindar Kinship.
            Nasherat is the home of the Thelerith Kinship. Khelgar is the home of the Faenor Kinship.
            Torendaar is the home of the Lorandi Kinship. And lastly, Thelos is the name of the
            neutral city some call the City of Shrines.</p>
	</figure>
	</div>

	
	<div class="row dividingBorderAbove">
        <br><h1 class="text-center">Organizations</h1>
	<ul class="list-inline text-center">
    {% for org in all_orgs %}
                
        <li><a href="..{% url 'help_topics:display_org' org.id %}">{{ org.name }}</a></li>
        
      {% empty %}
        <li>No organizations found.</li>
     
    {% endfor %}
	</ul>
	</div>
	
	{% if secret_orgs %}
	
	<h2 class="text-center">Secret Organizations</h2>
	<ul class="list-inline text-center">
	{% for org in secret_orgs %}
		<li><a href="..{% url 'help_topics:display_org' org.id %}">{{ org.name }}</a></li>
	{% endfor %}	
	</ul>
	</div>
	{% endif %}
    <div class="row dividingBorderAbove">
	<br><h1 class="text-center">Cheat Sheets and Resources</h2>
	<div class="row half noBorderOnLeft">
        <h1>In-Game Help</h1><br>
	<center><a href="recipes">Recipes and Materials</a>
	<br><a href="{% url 'help_topics:list_commands' %}">Commands</a></center>
	</div>

       <div class="half">
       <h1>External Links</h1>
       <p><center><a href="https://www.pinterest.com/reilena/ithir-mountain-lands/">Pinterest - Faenor</a>
       <br><a href="https://www.pinterest.com/reilena/ithir-ocean-lands/">Pinterest - Aeran</a>
       <br><a href="https://www.pinterest.com/reilena/ithir-river-lands/">Pinterest - Duindar</a>
       <br><a href="https://www.pinterest.com/reilena/ithir-grass-lands/">Pinterest - Lorandi</a>
       <br><a href="https://www.pinterest.com/reilena/ithir-desert-lands/">Pinterest - Thalerith</a>
       <br><a href="http://tehomcd.github.io">Tehom's Dev Blog/Donation Links</a></center></p>
   </div>

{% endblock %}