{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Lorandi Kinship</h1></figcaption>
	<hr />
	</figure>
	</div>

    	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">
        <div class="col-md-7">
          <img class="img-fluid" src="/static/images/Landscape_Torendaar.jpg" width='100%' height="auto" alt="">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">The City of Torendaar</h2>
          <p>As grand as the Golden Elves that reside with in it, Torendaar is a wonder of architecture and a symbol of
              prosperity to all those who lay eyes on it. The city itself is built in the plains lands, surrounded by
              fields of wheat and and gently rolling hills. From the center of the plains, planted atop one of the
              rolling hills, the tall city walls of Torendaar jut up, forming a barricade to keep them safe.<br><br>

              The Gate of Torendaar is inlaid with gold and intricate carvings showing off the wealth and prosperity of
              its people. The elegance of the Lorandi as a people is evident in the painstakingly beautiful artwork that
              has constructed their city. Within the walls, tall peeking spires can be seen jutting up, offering
              beautiful views of the plains beyond.<br><br>

              Inside the city, well designed roads are lined with extravagant dwellings. Off to one side is built a
              jousting arena where the Knights of Solaris are often found practicing their skills or holding
              tournaments. The various manor homes of the Duchies and Marches form a parameter around the main focus of
              the city: Serannar Castle. As grand as the Royal Family who built it, the castle houses and protects the
              portal, offers gathering grounds for the whole city, and of course houses and keeps the Royal family
              safe.</p><br>
            <center><a class="btn btn-success" href="https://docs.google.com/drawings/d/1cWldM2W8Y5Ix00TIAqXq2w7fWa6Tqp4N7Iy1DER4LCE/edit">Lorandi Family Trees</a></center>
        </div>
          </div>
        </div>

<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneThird noBorderOnLeft">
      <h2>Government</h2>
        <p>The Lorandi have a monarchical structured government. At the very top is the Royal Family, House Serannar.
            Below them are two Duchies, Houses Brixtien and Tenlindil. And in the charge of those two Duchies are two
            Marches each, Houses Palinnar, Monstald, Rylanth and Nalduine. The Marquis and Marchioness report to the
            Dukes and Duchesses, and they in turn report to the King or Queen.<br><br>

            <b>Birthright</b> - The Lorandi believe very much in being born in to leadership. Titles of authority are
            passed down from eldest child to eldest child throughout the blood line. If the oldest child abdicates for
            some reason, the seat of power goes to the next sibling available. If there are none, it might pass to an
            aunt or uncle. Keeping the line of succession clear is very important.<br><br>

            <b>King/Queen</b> - The King or Queen is the Sovereign of the Lorandi. Their duty is to rule over and guide
            the Lorandi. While a good sovereign will take in the advice of their leaders, the decisions concerning the
            Kinship as a whole are in the hands of the sovereign.<br><br>

            <b>Crown Prince/Princess</b> - When there is a sovereign, there is also a Crown Prince or Princess. This is
            the person who is next in succession for the crown of Lorandi.Usually the Crown Prince or Princess is the
            current Monarch’s eldest child. But there have been cases where the Crown title is given to a sibling of the
            King or Queen when they do not yet have an heir of their own. This title does come with some
            responsibilities and the ability to stand in for the sovereign should they not be able to.<br><br>

            <b>General</b> - The General is appointed by the King or Queen to handle all military matters for the
            kinship. It is the General’s duty to follow the orders of their sovereign but the power is in their hands
            on the battlefield. They are the strength and center of the military.<br><br>

            <b>Duchess/Duke</b> - The Duke or Duchess are the guardians of half the Lorandi people. It is their duty to
            keep their Duchies and the Marches below them well managed. Often times this position acts as counsel to
            the sovereign as well. Being closest to the King or Queen in power gives them an opportunity to sway
            decisions to the benefit of their people.<br><br>

            <b>Marquis/Marchioness</b> - Though their domains may be the smallest of the kingdom of Torendaar, the
            Marquis and Marchioness embody the might and passion of the people themselves. They are the backbone of the
            government and the eyes and ears on the ground for the leadership as a whole.
</p>
    </div>
    <div class="oneThird">
      <h2>Ideology</h2>
        <p>The Lorandi view themselves as First Among Equals. It was their Kings who first united the Elves under the
            title Ithiriel and that is a sense of pride they carry with them even today. Though many have strayed from
            the First Kingdom to break off in to new Kinships, the Lorandi know in their hearts that they were the true
            and first elves of Loran.<br><br>

            Though they know they are the superior Kinship, the Lorandi are a graceful and noble people. Never boastful,
            never petty, for they are above such things. Civility and chivalry are held high in their beliefs. In
            Larandor, the Lorandi were closest to the Humans. Learning from and working with the races of men have
            impacted their culture. Their government was fashioned after the human races and their ideology keeping
            wealth safe and protected comes from their closeness to Torth. The Great Creator is said to smile on the
            Golden Elves of the Lorandi, and one would be hard pressed to find and reason for that not to be true with
            how prosperous they have been all these many years.
.</p>
    </div>
    <div class="oneThird">
      <h2>Media and Real World Inspiration</h2>
        <p><b>Medieval England</b> - Much like the Feudalistic Government of this period in history, the Lorandi follow
            a monarchical lead. The King has dominion over the Kinship but he has divided his land between the two
            duchies who have then divided their lands between their two Marches. The pyramid structure of hierarchy is
            very much akin to Medieval England.<br><br>

            <b>Court of King Louis XIV</b> - Often referred to as The Sun King, Louis XIV lived in extravagance and
            wealth. He was the builder of the Palace of Versailles and inspired buch of the grandeur of the Lorandi.
            The consider themselves closest to Loran, First among Equals. This figure and this period in history reflect
            the sort of elegance and superiority that one might find among the Lorandi.<br><br>

            <b>House Tyrell</b> - In Game of Thrones, House Tyrell is the breadbasket of Westeros. They grow the grains
            that feed the country, much like the Lorandi and Toreendar in the plains. Their city is called High Garden,
            which is reflective of the Lorandi style. Flowers, blooms, other elegant and golden things are symbols of
            both the Tyrell and the Lorandi.
</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="rowOfBoxes">
      <div class="oneThird noBorderOnLeft">
      <h2>Laws</h2>
        <p>The Laws of the land are upheld by whoever holds closest dominion over the holding. If someone steals on a
            Marquis land, it is the Marquis who passes the judgement. Grievances are only brought to the King with the
            utmost necessity.<br><br>

            In matters of creating law, the Liege of each land is able to enforce is own law, so long as it does not
            interfere with his liege’s wishes. If the King passes a law, it is law for all Lorandi. If a Duke passes
            a law, the law is for all under his Duchy. And the same for a March and a law passed by the Marchioness.<br><br>

            Punishment for lesser crimes are usually served by way of community service of some kind. Paying back what
            was taken from the dignity or financial wealth of the people is sufficient enough punishment for most
            crimes. However, in the incident of a major crime,  demotions in rank and title have served as punishment,
            all the way to banishment. When one is banished from the Lorandi, they are shunned by the Golden Elves and
            looked at as an outsider from that moment on.<br><br>
</p>
    </div>
    <div class="oneThird">
      <h2>Culture</h2>
        <p>The Lorandi see their position as one of superiority. But not so much in a way that it should keep them from
            sharing with the other. On the contrary, they are rather generous with their wealth. Practicing guest right
            is incredibly important to them. Bing a good host is a point of pride among the Golden Elves. When visiting
            dignitaries stop in to one’s estate or lands, no expense is spared in showing them a good time. The
            ideology of pageantry and sophisticated revelry are embrace at all levels of the court.<br><br>

            Honor is held high among the Lorandi. Causing insult or harm might often be met with the challenge of an
            honor duel. The duel itself is to first blood or withdrawal. To fight to the death or to seriously wounding
            your opponent is considered bad form. Though duels are not always by way of martial combat. There is
            historical precedent in having a duel of poetry or setting one's wits against their opponent in a game of
            stones. So long as there is a decision and dignity and honor is maintained through the whole affair, the
            Lorandi are satisfied.<br><br>

            Beyond the Court, the Lorandi are also known for their horsemanship and with it, their ability to accomplish
            great feats. They are explorers and crusaders of sorts. Riders on the plains, nobly racing to this cause
            or that.Protectors of their people. But, they are also industrious. Leaning on their affinity for horse
            breeding and keeping fine stables. The Lorandi are also invested in building tall, strong and everlasting
            structures. Their engineering work is among the finest for the Kinships.</p>
    </div>

    <div class="oneThird">
      <h2>Flora & Fauna</h2>
        <p><b>Flora:</b> The naturally occurring wheat and corn fields are a lovely golden shade, with rich soil for
            growing other plains crops. Orchards and vineyards have been planted and are just reaching full maturity
            making wine and fruit a precious commodity. Though the majority of Torendaar is on plains lands, there is a
            forest to the west that provides timber for buildings and weapons.<br><br>

            <b>Fauna:</b> Animals native to the grasslands include hawks, rabbits, and antelope. Predators such as
            foxes, wolves and wild boars. Snakes and lizards are found on occasion on sunny days. Cattle and horses
            found roaming the wild plains have quickly become domesticated livestock and companions for the Lorandi.</p>
    </div>
  </div>
</div>

<div class="row text-center">
    <h2>Stereotypical Lorandi View of Other Kinships</h2>
    <p><b>Duindar</b> - While studious and creative, they can also possess a curious dichotomy of either being too
        focused on a project or focused on too many projects at once. Democracy is their weakness, a form of government
        that leaves the scrambling at best.<br><br>

        <b>Aeran</b> - Something is to be said about their passion. Bold and brash, admirable for ones who have chosen
        a life at sea. But thier unwillingness to accept their place in this world will keep them struggling instead of
        embracing what they have. <br><br>

        <b>Faenor</b> - Their adherence to the elvish traditions and purity of their line is to be admired, but they’re
        lazy isolationists who look down with destain from their lofty peaks.<br><br>

        <b>Thalerith</b> - Equal parts brave and stupid, these elves are admired for their tenacity and looked down on
        for their ferocity. They could stand to learn a thing or two about class.</p>
</div>

            <div class="row text-center">
                <a href="http://ithirmush.org/topics/org/4/"><h1>Houses of Lorandi</h1></a>
</div>

    <div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="fullWidth noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/31/"> Serannar</a>
        <div class="col-sm">	<a href="/static/images/Serannar.png">
        <center><img src="/static/images/Serannar.png" height='236' width='127' /></center></a>
        </div>
    </div>
</div>
    <div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="half noBorderOnLeft">
        <center><a href="http://ithirmush.org/topics/org/33/"> Tenlindil</a></cente>
        <div class="col-sm">	<a href="/static/images/Tenlindil.png">
        <center><img src="/static/images/Tenlindil.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="half">
        <center><a href="http://ithirmush.org/topics/org/32/"> Brixtien</a></center>
        <div class="col-sm">	<a href="/static/images/Brixtien.png">
        <center><img src="/static/images/Brixtien.png" height='236' width='127' /></center></a>
        </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="quarter noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/37/"> Nalduine</a>
        <div class="col-sm">	<a href="/static/images/Nalduine.png">
        <center><img src="/static/images/Nalduine.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/36/"> Monstald</a>
        <div class="col-sm">	<a href="/static/images/Monstald.png">
        <center><img src="/static/images/Monstald.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/34/"> Rylanth</a>
        <div class="col-sm">	<a href="/static/images/Rylanth.png">
        <center><img src="/static/images/Rylanth.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/35/"> Palinnar</a>
        <div class="col-sm">	<a href="/static/images/Palinnar.png">
        <center><img src="/static/images/Palinnar.png" height='236' width='127' /></center></a>
        </div>
    </div>
  </div>
</div>
    </div>
<div class="row text-center">
    <a href="http://ithirmush.org/topics/org/2/"><h1>Lorandi Inspiration</h1></a>
</div>
 <div class="oneThird">
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/lorandi-torendaar-fashion/"></a>
 </div>

 <div class="oneThird">
    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/lorandi-torendaar-food/"></a>
 </div>

 <div class="oneThird">
    <iframe src="https://open.spotify.com/embed/user/12123331759/playlist/7qKAeXe8Db9sVzOV9jd05T" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
</div>


    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

{% endblock %}