{% extends "base.html" %}
{% block content %}
    <style>
img {
  width: 100%;
  height: auto;
}
</style>
<div class="container">
	<div class="row">
	<figure class="text-center">
	<figcaption><h1>The Thalerith Kinship</h1></figcaption>
	<hr />
	</figure>
	</div>

    	<div class="row text-center">
		<h1 class="bg-primary">Help Files</h1>
	</div> <!--button-->
	<div id="Topics" class="collapse in">
    {% for category in all_categories %}
	<div class="row">
	  <ul class="list-inline text-center">
      {% for topic in all_topics %}
        {% if topic.help_category.capitalize == category %}
          <li class="text-center"><a href="{% url 'help_topics:topic' topic.key %}">{{ topic.key }}</a></li>
        {% endif %}
      {% empty %}
        <li>No topics found for this category.</li>
      {% endfor %}
	  </ul>
	</div><!-- div in for loop -->
    {% empty %}
      <li>No categories found.</li>
    {% endfor %}
	</div><!-- collapse-in -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Page Content -->
    <div class="container">

      <!-- Portfolio Item Row -->
      <div class="row">

        <div class="col-md-7">
            <a href="/static/images/Landscape_Nasherat.jpg">
          <img class="img-fluid" src="/static/images/Landscape_Nasherat.jpg">
        </div>

        <div class="col-md-4">
            <h2 class="my-3">The City of Nasherat</h2>
          <p>At first those visiting the home of the Thalerith might not find it welcoming. Buildings are made of
              sandrock, the ground left bare to help keep dwellings cool or warm as needed. There is a fine sand
              dust that seems to cover most everything, and the architecture is certainly a reflection of the
              rough lifestyle of its people.<br><br>

              The two largest buildings found in the cavern system that the Thalerith call their home are the
              Warlord’s Spire, which doubles as both the home of the current leader and the barracks for their warriors
              and hunters, and the Flame Chantry, which houses the secretive Flame Seers.<br><br>

              A large open plaza can be found at the center of the city, serving as a gathering place for the Thalerith.
              Several cultural events take place in this plaza, some more violent than others.
</p><br>
            <center><a class="btn btn-success" href="https://docs.google.com/drawings/d/1jWnDapAK4ac52LApLIx9T7w-lleJaq7uPiblTs6XY9Q/edit">Thalerith Family Trees</a></center>
        </div>
          </div>
        </div>

<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="oneThird noBorderOnLeft">
      <h2>Government</h2>
        <p>The Thalerith have adopted a form of meritocracy when it comes to selecting their leaders, with the strongest
            of body and mind expected to rise to leadership positions and help guide the kinship.<br><br>

            <b>Warlord</b> - The Warlord is the ruler of Thalerith society, having earned the position by overthrowing
            their predecessor. However, the Warlord does not rule alone, as they are supported by the Warlord's Council
            made of the General and the spiritual leader, the Flame Speaker. Both the General and the Flame Speaker have
            a subtle, but very strong influence in the governance of the Thalerith people. In the case the Warlord is
            unable to make a decision, the General and Flame Speaker together are able to do so in her stead.<br><br>

            <b>General</b> - When it comes to matters of War, it is the General that the Warlord turns for counsel, and
            during open warfare, it's often the General who actually leads the armies and not the Warlord. The General
            also acts as the enforcer of the Warlord's law.<br><br>

            <b>Flame Speaker</b> - Civilian and spiritual matters often have the Flame Speaker weighing in, and it's
            common for the Flame Speaker to offer an opposing view, in order to encourage debate. While final decisions
            involving civilian life are still the purview of the Warlord, it's rare for them to take place without the
            Flame Speaker being involved. The Flame Speaker also serves as the leader of the Flame Seers.<br><br>

            Should someone feel as though the Warlord is doing a bad job of things, they can challenge her to a duel.
            This duel is to the death or whoever yields first. The challenge must be confirmed by the General and Flame
            Speaker as valid. If there is a split decision between the two, the Warlord will decide if she accepts the
            challenge or not. If one of the challengers is the Flame Speaker or General, and their counterpart agrees it
            is a valid challenge, the Warlord will decide if she accepts or not. A Warlord didn't take her place by
            being weak and not accepting a valid challenge can look very bad to the people. Should a challenger defeat
            her, they will appoint their own General and Flame Speaker. Usually, after a Warlord ascends to power there
            is a period of one year to allow for stability to form before a challenge to the new warlord can be issued,
            the exception is if both the newly appointed General and Flame Speaker agree the Warlord must be replaced.
            Challenges to a Warlord are also suspended during times of open warfare with the other Kinships, again,
            unless the General and Flame Speaker agree there's a need for replacement.<br><br>

            Once a General and Flame Speaker have been appointed, it's very hard for a Warlord to appoint new ones,
            unless there is undeniable proof that the current one has committed a serious crime worthy of being removed
            from the position. The removal of a General or Flame Speaker without reason is seen as a sign of weakness
            in the Warlord by the Thalerith.<br><br>

            The Warlord is protected by a group of bodyguards known as the Blade Sworn. The Blade Sworn are not an
            active part of the government, and are not involved in decisions or counseling but often also acts as agents
            of the Warlord, carrying her will and acting on her behalf. Being ask to become a Blade Sworn is a great
            honor, but carries with it an oath to never challenge the Warlord for leadership as long as that individual
            remains a Warlord. Once this oath is taken, only a Warlord can release the subject from it.<br><br>

            Finally, the political importance of the Heads of Family in Thalerith society should not be underestimated.
            Kinlectors and Kinlessas can be very influential in the government by supporting or denying the Warlord,
            or members of the Warlord's Council in their decisions. So is often a good idea for new Warlords to work
            with all the families to ensure their support.</p>

    </div>
    <div class="oneThird">
      <h2>Ideology</h2>
        <p>“Vi achareth, thalien. Vi thalien, brunar.”<br>
            “In struggle, strength. In strength, life.”<br><br>

            The Thalerith, are a hardened people that value and welcome struggle into their lives. They tend to favor
            Rithor as their patron, although some of the more spiritually oriented members also honor Acharon as the
            god of raw passion and energy. They have made their home in an extensive cavern system found under the
            desert of the new world, and have adopted a nocturnal lifestyle. When they venture out under the heat of the
            scorching sun of their homeland, they make sure to cover themselves completely, wearing wraps that have been
            specially treated with plant ointments to help mitigate the effects of the intense heat.<br><br>

            At night, those same wraps, and the trapped heat in the caverns they call their homes help keep them warm
            during the chilly temperatures that are prevalent at such time.<br><br>

            When sun or potential dehydration is not threatening to kill them, the predators that call the desert and
            the caverns their home, certainly try to. But that is just fine with the Thalerith, they welcome the
            struggle, the challenge, as they feel it helps them become stronger. To the Thalerith, strength is life.
            Strength is what guides them, what leads them. Strength brought them to the New World, and strength will
            let them master it.
</p>
    </div>
    <div class="oneThird">
      <h2>Media and Real World Inspiration</h2>
        <p><b>Dothraki</b> - The belief that you must earn your keep is an important part of this society, and is the
            main aspect borrowed from them. Merit matters, and earning what you get is more honorable than something
            inherited. Their mistrust of those that have not proven themselves is another trait in common. And while
            the Dothraki are quick to discard the infirm, the Thalerith see it as a duty to honor and protect those
            that have sacrificed their strength for the kinship.<br><br>

            <b>Dark Sun</b> - This setting is known for using the desert as a metaphor for struggle, and that is
            certainly true for the Thalerith. Life is hard, but rather than reject this idea, the Thalerith embrace it.
            The struggle proves that they are alive and it helps toughen them and prepare them for future trials. The
            setting provides an excellent visual reference as well.<br><br>

            <b>The Horde</b> - The tribal nature of the Horde, their connection to the land they have claimed, the
            leadership of their Warchief, these are all traits borrowed from this inspiration. The story of the Horde
            is that of surviving in a land that seems intent to destroy them, and that story is very similar to the
            struggle the Thalerith experience and embrace. The concept of Honor is an important one in the Horde as
            embodied by some of their heroes, and is also an important one in Thalerith culture.<br><br>

            <b>Arab Culture</b> - Social loyalty is an important aspect in both Arab and Thalerith culture. Family is
            an integral aspect of society, with an emphasis in self-reliance and responsibility. The needs of the
            group are more important that the needs of one individual, and traditional cultural values are to be
            respected. Finally, poetry as both an artistic expression and a way to share stories of achievements and
            defeats is typical to both cultures.</p>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="rowOfBoxes">
      <div class="oneThird noBorderOnLeft">
      <h2>Laws</h2>
        <p>Thalerith law is determined by the Warlord, with the Flame Speaker influencing civil matters and the General
            influencing Military matters. With honor being a guiding principle in the kinship, the breaking of the law
            often carries with it, loss in honor. Most offenses are often punished in a manner that lets the offender
            make reparations and regain some of the lost honor. The most grievous of offenses lead to exile, with crimes
            considered very damaging to the kinship as a whole allowing for executions.<br><br>

            Judgments are passed by the Warlord, with the advising of the Warlord's Council. A trial often has the
            Warlord sit and listen to the crime be described by the accusers, and the accused gets a chance to then
            speak for themselves. The Warlord's Council then offers their recommendations, publicly, and the Warlord
            makes the final decision.<br><br>

            It is the right of any Thalerith to call for a trial by combat or wits when facing a judgment from the
            Warlord. If they win, they are cleared of any and all charges. If they lose, they are exiled, given to the
            sands for the desert to determine their fate regardless of the seriousness of their crime, unless they were
            to be executed. While the accused must face the challenge themselves, the Warlord can designate a champion.
</p>
    </div>
    <div class="oneThird">
      <h2>Culture</h2>
        <p>The Thalerith value strength of both body and mind. Most of their culture revolves around the day to the day
            struggle of living in such a dangerous land. Rather than lament their status, they celebrate it and embrace
            it. They feel struggle leads to strength, which in turns leads to life.  This lifestyle often pushes them
            to the limit and requires an an able body and a keen mind.<br><br>

            Physical contests are very common among the Sand Kin, regardless of they are warriors or not and most people
            engage in these without hesitation or reservation. They're also particularly fond of riddles and puzzles,
            as these help keep their minds active and engaged. They put a lot of value in action, for it's through
            action that a person can support their words. Their word is extremely important to a Thalerith, but acting
            on that word is what gives them weight and keeps them from being swept by the desert winds.<br><br>

            While the Thalerith can be very reserved when dealing with outsiders, most Thalerith aren't outright hostile
            to them and welcome interactions with all the Kinships. Still, they often require strangers to prove
            themselves before fully accepting them in their society. Honor is paramount to the Thalerith, and one of
            their most important guiding principles. While the strong are often expected to lead, they're also expected
            to guide and protect. All Thalerith are raised to contribute to their society, and those that are unable to
            do so because of previous sacrifice for the kinship are still honored and held in high regard.<br><br>

            In Thalerith culture, there are no gender roles. The women and men both are valued for their strengths, and
            who stays home and takes care of the children is a duty that is mutually shared by not only both parents,
            but the city as a whole. The responsibility of raising the next generation of Thalerith falls on everyone,
            and everyone takes it quite seriously. <br><br>

            The Sand Kin tend favor the Deity of Fearlessness and the Hunt, the Beastmaster Rithor and honor the raw
            emotion and agent of change that is Acharon, but the other gods still find many worshippers among the Sand
            Kin.  The spiritual leaders known as the Flame Seers are valued for their preservation of the Thalerith’s
            oral tradition, however they are not related or connected to any particular god, nor do they claim to be
            divinely guided. They often serve as spiritual guides in the day to day struggles of the Thalerith, leaving
            theology matters and worship to the priests of a given faith. They dress in fire-tinged light robes, and
            even scar their pale skins with fire burns. Most Thalerith, even as a nocturnal culture, have developed a
            somewhat bronze skin. However, those that undergo the initiation of a Flame Seer often grow as pale as the
            whitest of sands, and the oldest of Flame Seers are known for losing their regular sight at very advanced
            ages.</p>
    </div>

    <div class="oneThird">
      <h2>Flora & Fauna</h2>
        <p>The flora is very typical to both the desert and cavern systems. The are a number of edible fungi found in
            the caverns that helps compliment the mostly meat-based diet of the Thalerith. Also typical are cacti,
            wild flowers, and shrubs.<br><br>

            The sandrock caverns and desert both are full of predators, and it’s only through cunning and strength that
            the Thalerith find themselves at the top of that ecosystem. The krilkar lizards are the most common found
            predator around Nasherat, with a very varied range of sizes depending on age. Other common animals include,
            coyotes, desert foxes, armadillo lizards, camels, small wildcats, desert lizards, hares, snakes, scorpions.</p>
    </div>
  </div>
</div>

<div class="row text-center">
    <h2>Stereotypical Thalerith View of Other Kinships</h2>
    <p><b>Aeran</b> - They have been hardened by the crashing of the waves of their waters, but it is that much water
        that can make them also a soft. Still, they proved resilient enough and useful enough during the Third
        Migration, so their strength can be an asset.<br><br>

        <b>Lorandi</b> - What good is their finery? Does it feed them? Does it keep them warm at night? They seek to
        order us around, but they have yet to earn that right. Perhaps when they do, we will begin to listen.<br><br>

        <b>Duindar</b> - They are clever, good. However, they spend too much time studying, too little time living.
        Strength comes from able bodies and mind, one without the other easily leads one to be forgotten in the sands
        of the desert.<br><br>

        <b>Faenor</b> - They have faced struggle, we must give them that. Their mountains are as dangerous a place to
        live as our sands. But they are unchanging, unwilling to learn embrace their emotions, to gain strength from
        their passions, which holds them back.
</p>
</div>

    <div class="row text-center">
    <a href="http://ithirmush.org/topics/org/6/"><h1>Houses of Thalerith</h1></a>
</div>
<div class="container-fluid">
  <div class="rowOfBoxes">
    <div class="quarter noBorderOnLeft">
        <a href="http://ithirmush.org/topics/org/41/"> Aynarr</a>
        <div class="col-sm">	<a href="/static/images/Aynarr.png">
        <center><img src="/static/images/Aynarr.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/40/"> Devrien</a>
        <div class="col-sm">	<a href="/static/images/Devrien.png">
        <center><img src="/static/images/Devrien.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/39/"> Filinnar</a>
        <div class="col-sm">	<a href="/static/images/Filinnar.png">
        <center><img src="/static/images/Filinnar.png" height='236' width='127' /></center></a>
        </div>
    </div>
    <div class="quarter">
        <a href="http://ithirmush.org/topics/org/38/"> Sedriel</a>
        <div class="col-sm">	<a href="/static/images/Sedriel.png">
        <center><img src="/static/images/Sedriel.png" height='236' width='127' /></center></a>
        </div>
    </div>
  </div>
</div>
<div class="row text-center">
    <a href="http://ithirmush.org/topics/org/6/"><h1>Thalerith Inspiration</h1></a>
</div>
 <div class="oneThird">
<a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/thalerith-nasherat-fashion/"></a>
 </div>

 <div class="oneThird">
    <a data-pin-do="embedBoard" data-pin-board-width="400" data-pin-scale-height="240" data-pin-scale-width="80"
   href="https://www.pinterest.com/ithirmush/thalerith-nasherat-food/"></a>
 </div>

 <div class="oneThird">
    <iframe src="https://open.spotify.com/embed/user/k32r7apl0azixu68q2akpdryf/playlist/54dY8Xmn4DlBvZXSBjb9eY" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
 </div>
</div>


    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>

{% endblock %}